<footer class="footer-distributed">

			<div class="footer-left">

				<h3>CUIB<span> ALUM</span></h3>

				<p class="footer-links">
					<a ui-sref="app">Home</a>
					·
					<a ui-sref="app.contact">Contact</a>
					·
					<a href="#">Alumni Office</a>
					·
					<a href="#">Alumni Ressources</a>
					·
					·
					<a href="#">About</a>
				</p>
				<p class="footer-company-name">CUIB ALUM &copy; 2015</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>Catholic University Institute of Buea</span> Molyko, Opposite BGS</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+1 555 123456</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a ui-sref="app.contact">support@cuib.net</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About the Alumni webiste</span>
					This website is to enable alumni to stay in contact with the school where ever they found themselves.
				</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>

		</footer>
