		<div class="col-xs-12 col-sm-9 content">
			<form class="form-horizontal" role="form" name="register_form" novalidate>
        <h2>Alumni Information</h2>
        <div class="form-group" ng-class="{ 'has-error' : register_form.first_name.$error.required && !register_form.first_name.$pristine }">
          <label for="first_name" class="col-sm-2 control-label">First Name</label>
          <div class="col-sm-7">
          <input type="text" name="first_name" class="form-control" placeholder="Enter first name" ng-model="register.first_name" required>
          <span ng-show="register_form.first_name.$error.required && !register_form.first_name.$pristine"
                    class="help-block">This field is required.</span>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : register_form.last_name.$error.required && !register_form.last_name.$pristine }">
          <label for="last_name" class="col-sm-2 control-label">Last Name</label>
          <div class="col-sm-7">
          <input type="text" name="last_name" class="form-control" placeholder="Enter last name" ng-model="register.last_name" required>
          <span ng-show="register_form.last_name.$error.required && !register_form.last_name.$pristine"
                    class="help-block">This field is required.</span>
          </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : register_form.middle_name.$error.required && !register_form.middle_name.$pristine }">
          <label for="middle_name" class="col-sm-2 control-label">Middle Name</label>
          <div class="col-sm-7">
          <input type="text" name="middle_name" class="form-control" placeholder="Enter Middle name" ng-model="register.middle_name" required>
          <span ng-show="register_form.middle_name.$error.required && !register_form.middle_name.$pristine"
                    class="help-block">This field is required.</span>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : register_form.address.$error.required && !register_form.address.$pristine }">
          <label for="address" class="col-sm-2 control-label">Address</label>
          <div class="col-sm-7">
          <input type="text" name="address" class="form-control" placeholder="Enter your address" ng-model="register.address" required>
          <span ng-show="register_form.address.$error.required && !register_form.address.$pristine"
                    class="help-block">This field is required.</span>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : register_form.city.$error.required && !register_form.city.$pristine }">
          <label for="city" class="col-sm-2 control-label">City</label>
          <div class="col-sm-7">
          <input type="text" name="city" class="form-control" placeholder="Enter your city" ng-model="register.city" required>
          <span ng-show="register_form.city.$error.required && !register_form.city.$pristine"
                    class="help-block">This field is required.</span>
          </div>
        </div>
        <div class="form-group">
          <label for="country" class="col-sm-2 control-label">Country</label>
          <div class="col-sm-7">
         <select class="selectpicker countrypicker" data-live-search="true" data-default="United States" data-flag="true"></select>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : register_form.areacode.$invalid && !register_form.areacode.$pristine }">
          <label for="areacode" class="col-sm-2 control-label">Area code</label>
          <div class="input-group col-sm-4">
            <div class="input-group-addon">(</div>
            <input type="tel" class="form-control" id="areacode" name="areacode" placeholder="areacode" ng-pattern="/^[0-9]/" ng-model="register.tel.areacode" required>
            <div class="input-group-addon">)</div>
          </div>
             <span ng-show="register_form.areacode.$invalid && !register_form.areacode.$pristine"
                    class="help-block">Please enter a valid areacode number.</span>
             <span ng-show="register_form.areacode.$error.required && !register_form.areacode.$pristine"
                    class="help-block">This field is required.</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : register_form.telephone.$invalid && !register_form.telephone.$pristine }">
          <label for="telephone" class="col-sm-2 control-label">Telephone</label>
          <div class="input-group col-sm-4">
            <input type="tel" class="form-control" id="telephone" name="telephone" placeholder="telephone"  ng-pattern="/^[0-9]/" ng-model="register.telephone" required>
                    <span ng-show="register_form.telephone.$invalid && !register_form.telephone.$pristine"
                    class="help-block">Please enter a valid phone number.</span>
                    <span ng-show="register_form.telephone.$error.required && !register_form.telephone.$pristine"
                    class="help-block">This field is required.</span>
          </div>
        </div>
        <div class="form-group"  ng-class="{ 'has-error has-feedback' : register_form.emailid.$invalid && !register_form.emailid.$pristine }">
          <label for="emailid" class="col-sm-2 control-label">E-mail</label>
          <div class="input-group col-sm-4">
            <input type="email" class="form-control" id="emailid" name="emailid" placeholder="email" ng-model="register.email" required>
            <span ng-show="register_form.emailid.$invalid && !register_form.emailid.$pristine" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    <span ng-show="register_form.emailid.$invalid && !register_form.emailid.$pristine"
                    class="help-block">Your email must have characters like @.</span>
                    <span ng-show="register_form.emailid.$error.required && !register_form.emailid.$pristine"
                    class="help-block">This field is required.</span>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : register_form.password.$invalid && !register_form.password.$pristine }">
          <label for="password" class="col-sm-2 control-label">password</label>
          <div class="input-group col-sm-4">
            <input type="password" class="form-control" id="password" name="password" placeholder="password" ng-model="register.password" ng-minlength="8" required>
             <span ng-show="register_form.password.$invalid && !register_form.password.$pristine"
                    class="help-block">Your password must be at least 8 character long.</span>
                    <span ng-show="register_form.password.$error.required && !register_form.password.$pristine"
                    class="help-block">This field is required.</span>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : register_form.passwordverify.$invalid && !register_form.passwordverify.$pristine }">
          <label for="passwordconf" class="col-sm-2 control-label">password confirmation</label>
          <div class="input-group col-sm-4">
            <input type="password" class="form-control" id="passwordconf" name="passwordverify" placeholder=" confirm password" ng-model="register.passwordverify" ng-pattern="\b{{register.password}}\b" required>
            <span ng-show="register_form.passwordverify.$invalid && !register_form.passwordverify.$pristine"
                    class="help-block">Passwords does mot match.</span>
                    <span ng-show="register_form.passwordverify.$error.required && !register_form.passwordverify.$pristine"
                    class="help-block">This field is required.</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="status">select your status</label>
          <select class="col-sm-4" id="status">
            <option ng-checked="student()">Student</option>
            <option ng-checked="worker()">Worker</option>
            <option ng-checked="entrepreneur()">Job owner</option>
          </select>
        </div>
        <div ng-show="showDetails1">
          <div class="form-group" ng-class="{ 'has-error' : register_form.middle_name.$error.required && !register_form.middle_name.$pristine }">
            <label for="middle_name" class="col-sm-2 control-label">Middle Name</label>
            <div class="col-sm-7">
            <input type="text" name="middle_name" class="form-control" placeholder="Enter Middle name" ng-model="register.middle_name" required>
            <span ng-show="register_form.middle_name.$error.required && !register_form.middle_name.$pristine"
                      class="help-block">This field is required.</span>
            </div>
          </div>
        </div>
        <input type="submit" name="register" value="Register" class="btn btn-primary col-md-offset-5" ng-disabled="register_form.$invalid">
      </form>
		</div>
